$o-progress-is-silent : true !default;

$o-progress-class-type: unquote("%");

@if $o-progress-is-silent == false {
  $o-progress-class-type: unquote(".") !global;
}

//import from dependencies
@import "o-colors/main";
@import "o-fonts/main";

//import o-progressIndicator partials
@import "src/scss/variables";
//@import "src/scss/mixins";
@import "src/scss/indicator";