<div class="demo__content">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae justo ligula. Nam vel dolor non mi pharetra suscipit. Sed eget feugiat sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam dictum, orci eget vestibulum tristique, justo enim fringilla augue, sed elementum massa augue congue justo. Etiam sed placerat metus. Duis vel ligula ullamcorper, elementum dui in, aliquet mi. Donec ac velit varius, mattis dolor nec, ullamcorper augue. Nam tempor accumsan sapien vel commodo. Morbi malesuada facilisis massa et rutrum. Sed porta mi vitae lacus pulvinar, non lobortis ante fermentum. Aliquam eget fermentum ligula. Duis et ornare diam.</p>
</div>

<div class="o-progress__block">
	<div class="o-progress__indicator"></div>
</div>